/* Ümumi reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Səhifə arxa fonu */
body {
    background-color: #fff;
    padding: 40px;
}

/* ÜST MENU (LOGO + NAV) */
.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;
}

.logo img {
    width: 140px;
}

.nav a {
    margin-left: 30px;
    text-decoration: none;
    color: #000;
    font-weight: 500;
    font-size: 18px;
}

/* HERO bölüm */
.hero {
    text-align: center;
    margin-bottom: 60px;
}

.hero h1 {
    font-size: 64px;
    font-weight: 700;
    color: #000;
    line-height: 1.1;
    max-width: 900px;
    margin: auto;
}

.hero p {
    font-size: 20px;
    margin-top: 15px;
    color: #555;
}

/* Dekor şəkillər */
.decor-left {
    position: absolute;
    left: 0;
    top: 120px;
    width: 180px;
}

.decor-right {
    position: absolute;
    right: 0;
    top: 100px;
    width: 180px;
}

/* YEMƏK KARTLARI */
.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 sütun */
    gap: 30px;
    max-width: 1200px;
    margin: 60px auto;
}


.card {
    width: 260px;
    background: #fff;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.08);
}

.card img {
    width: 100%;
    border-radius: 15px;
    margin-bottom: 10px;
}

.card h3 {
    font-size: 20px;
    margin-bottom: 5px;
}

.card p {
    font-size: 14px;
    color: #666;
}

/* Alt sağdakı iconlar */
.social {
    position: fixed;
    right: 20px;
    bottom: 20px;
}

.social img {
    width: 26px;
    height:26px;
    object-fit: contain
    margin-top: 10px;
}
.categories {
    text-align: center;
    margin: 80px 0 40px;
}

.categories h2 {
    font-size: 36px;
    margin-bottom: 30px;
}

.cat-list {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
    max-width: 1200px;
    margin: auto;
}

.cat {
    background: #f8f8f8;
    padding: 20px;
    border-radius: 15px;
    font-size: 18px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    cursor: pointer;
    transition: .2s;
}

.cat img {
    width: 40px;
    height: 40px;
}

.subscribe {
    background: #E7F9FD;
    border-radius: 40px;
    padding: 60px 40px;
    margin: 100px auto;
    max-width: 1200px;
    position: relative;
    text-align: center;
}

.subscribe h2 {
    font-size: 42px;
    margin-bottom: 10px;
}

.subscribe p {
    font-size: 18px;
    color: #444;
    margin-bottom: 30px;
}

.sub-form {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.sub-form input {
    width: 280px;
    padding: 15px;
    border: none;
    border-radius: 12px;
    font-size: 16px;
}

.sub-form button {
    padding: 15px 25px;
    background: #FF642F;
    border: none;
    border-radius: 12px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

/* Dekor şəkillər */
.sub-left img,
.sub-right img {
    width: 310px;
    position: absolute;
    top: -30px;
}

.sub-left img {
    left: 1px;
}

.sub-right img {
    right: 20px;
}
